MicroPos.Service.SimpleApp/Service References/ServiceReference/micropos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8583/micropos?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" />
  <xs:complexType name="GetOneOrFirstPinpadRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthorizerUri" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="PinpadMessages" nillable="true" type="q1:DisplayableMessagesContract" />
          <xs:element minOccurs="0" name="PinpadPortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SaleAffiliationKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TmsUri" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetOneOrFirstPinpadRequest" nillable="true" type="tns:GetOneOrFirstPinpadRequest" />
  <xs:complexType name="AbstractRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractRequest" nillable="true" type="tns:AbstractRequest" />
  <xs:complexType name="GetAllPinpadsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthorizerUri" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="PinpadMessages" nillable="true" type="q2:DisplayableMessagesContract" />
          <xs:element minOccurs="0" name="SaleAffiliationKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TmsUri" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllPinpadsRequest" nillable="true" type="tns:GetAllPinpadsRequest" />
  <xs:complexType name="AvailableDevicesRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AvailableDevicesRequest" nillable="true" type="tns:AvailableDevicesRequest" />
  <xs:complexType name="GetFirstDeviceAvailableRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetFirstDeviceAvailableRequest" nillable="true" type="tns:GetFirstDeviceAvailableRequest" />
  <xs:complexType name="GetAvailableDevicesRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAvailableDevicesRequest" nillable="true" type="tns:GetAvailableDevicesRequest" />
  <xs:complexType name="PingRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q3:CardPaymentAuthorizerContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PingRequest" nillable="true" type="tns:PingRequest" />
  <xs:complexType name="OpenPinpadConnectionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q4:CardPaymentAuthorizerContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OpenPinpadConnectionRequest" nillable="true" type="tns:OpenPinpadConnectionRequest" />
  <xs:complexType name="ClosePinpadConnectionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q5:CardPaymentAuthorizerContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClosePinpadConnectionRequest" nillable="true" type="tns:ClosePinpadConnectionRequest" />
  <xs:complexType name="CancelPinpadCommandRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q6:CardPaymentAuthorizerContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelPinpadCommandRequest" nillable="true" type="tns:CancelPinpadCommandRequest" />
  <xs:complexType name="ShowMessageRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q7:CardPaymentAuthorizerContract" />
          <xs:element minOccurs="0" name="FirstLine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Padding" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SecondLine" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShowMessageRequest" nillable="true" type="tns:ShowMessageRequest" />
  <xs:complexType name="GetSecurePanRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q8:CardPaymentAuthorizerContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSecurePanRequest" nillable="true" type="tns:GetSecurePanRequest" />
  <xs:complexType name="GetKeyRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q9:CardPaymentAuthorizerContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetKeyRequest" nillable="true" type="tns:GetKeyRequest" />
  <xs:complexType name="GetNumericInputRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q10:CardPaymentAuthorizerContract" />
          <xs:element minOccurs="0" name="FirstLine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaximumLength" type="xs:int" />
          <xs:element minOccurs="0" name="MinimumLength" type="xs:int" />
          <xs:element minOccurs="0" name="SecondLine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeOut" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetNumericInputRequest" nillable="true" type="tns:GetNumericInputRequest" />
  <xs:complexType name="GetAmountRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q11:CardPaymentAuthorizerContract" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAmountRequest" nillable="true" type="tns:GetAmountRequest" />
  <xs:complexType name="AuthorizationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q12:CardPaymentAuthorizerContract" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="Transaction" nillable="true" type="q13:TransactionContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthorizationRequest" nillable="true" type="tns:AuthorizationRequest" />
  <xs:complexType name="CancelByAuthorizationReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="AuthorizationReport" nillable="true" type="q14:AuthorizationReportContract" />
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q15:CardPaymentAuthorizerContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelByAuthorizationReportRequest" nillable="true" type="tns:CancelByAuthorizationReportRequest" />
  <xs:complexType name="CancelRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="AcquirerTransactionKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q16:CardPaymentAuthorizerContract" />
          <xs:element minOccurs="0" name="InitiatorTransactionKey" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelRequest" nillable="true" type="tns:CancelRequest" />
  <xs:complexType name="ReadCardRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q17:CardPaymentAuthorizerContract" />
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="Transaction" nillable="true" type="q18:TransactionContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReadCardRequest" nillable="true" type="tns:ReadCardRequest" />
  <xs:complexType name="ReadPasswordRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="Card" nillable="true" type="q19:CardContract" />
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q20:CardPaymentAuthorizerContract" />
          <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="Transaction" nillable="true" type="q21:TransactionContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReadPasswordRequest" nillable="true" type="tns:ReadPasswordRequest" />
  <xs:complexType name="SendAuthorizationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="Card" nillable="true" type="q22:CardContract" />
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q23:CardPaymentAuthorizerContract" />
          <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="Password" nillable="true" type="q24:PasswordContract" />
          <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="Transaction" nillable="true" type="q25:TransactionContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendAuthorizationRequest" nillable="true" type="tns:SendAuthorizationRequest" />
  <xs:complexType name="CompletionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="CardPaymentAuthorizer" nillable="true" type="q26:CardPaymentAuthorizerContract" />
          <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" minOccurs="0" name="Completion" nillable="true" type="q27:CompletionContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompletionRequest" nillable="true" type="tns:CompletionRequest" />
  <xs:complexType name="GetItkLengthRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetItkLengthRequest" nillable="true" type="tns:GetItkLengthRequest" />
</xs:schema>