MicroPos.Service.SimpleApp/Service References/DebugReference/micropos4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DisplayableMessagesContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovedMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeclinedMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InitializationMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessingMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisplayableMessagesContract" nillable="true" type="tns:DisplayableMessagesContract" />
  <xs:complexType name="ArrayOfErrorReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorReport" nillable="true" type="tns:ErrorReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorReport" nillable="true" type="tns:ArrayOfErrorReport" />
  <xs:complexType name="ErrorReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorReport" nillable="true" type="tns:ErrorReport" />
  <xs:complexType name="CardPaymentAuthorizerContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorizationProviderUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConnectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinpadInformation" nillable="true" type="tns:PinpadInformationContract" />
      <xs:element minOccurs="0" name="PinpadMessages" nillable="true" type="tns:DisplayableMessagesContract" />
      <xs:element minOccurs="0" name="SaleAffiliationKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardPaymentAuthorizerContract" nillable="true" type="tns:CardPaymentAuthorizerContract" />
  <xs:complexType name="PinpadInformationContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsContactless" type="xs:boolean" />
      <xs:element minOccurs="0" name="ManufacturerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturerVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingSystemVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specifications" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PinpadInformationContract" nillable="true" type="tns:PinpadInformationContract" />
  <xs:complexType name="ArrayOfCardPaymentAuthorizerContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardPaymentAuthorizerContract" nillable="true" type="tns:CardPaymentAuthorizerContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardPaymentAuthorizerContract" nillable="true" type="tns:ArrayOfCardPaymentAuthorizerContract" />
  <xs:complexType name="TransactionContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CaptureTransaction" type="xs:boolean" />
      <xs:element minOccurs="0" name="InitiatorTransactionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallmentContract" nillable="true" type="tns:InstallmentContract" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionContract" nillable="true" type="tns:TransactionContract" />
  <xs:complexType name="InstallmentContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number" type="xs:short" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallmentContract" nillable="true" type="tns:InstallmentContract" />
  <xs:complexType name="AuthorizationReportContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcquirerTransactionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Card" nillable="true" type="tns:CardContract" />
      <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InitiatorTransactionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Installment" nillable="true" type="tns:InstallmentContract" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WasApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="XmlRequest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlResponse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizationReportContract" nillable="true" type="tns:AuthorizationReportContract" />
  <xs:complexType name="CardContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationCryptogram" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandId" type="xs:int" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardholderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaskedPrimaryAccountNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardContract" nillable="true" type="tns:CardContract" />
  <xs:complexType name="CancellationReportContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelledAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CancelledBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WasCancelled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancellationReportContract" nillable="true" type="tns:CancellationReportContract" />
  <xs:complexType name="PasswordContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationCryptogram" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmvData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeySerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinBlock" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordContract" nillable="true" type="tns:PasswordContract" />
  <xs:complexType name="CompletionContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcquirerTransactionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AmountToCapture" type="xs:decimal" />
      <xs:element minOccurs="0" name="InitiatorTransactionKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompletionContract" nillable="true" type="tns:CompletionContract" />
</xs:schema>