MicroPos.Service.SimpleApp/Service References/DebugReference/micropos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1234/micropos?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" />
  <xs:import schemaLocation="http://localhost:1234/micropos?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" />
  <xs:element name="GetOneOrFirstPinpad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q1:GetOneOrFirstPinpadRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneOrFirstPinpadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="GetOneOrFirstPinpadResult" nillable="true" type="q2:GetOneOrFirstPinpadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPinpads">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q3:GetAllPinpadsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPinpadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="GetAllPinpadsResult" nillable="true" type="q4:GetAllPinpadsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q5:AvailableDevicesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="AvailableDevicesResult" nillable="true" type="q6:AvailableDevicesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstDeviceAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q7:GetFirstDeviceAvailableRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstDeviceAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="GetFirstDeviceAvailableResult" nillable="true" type="q8:GetFirstDeviceAvailableResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q9:GetAvailableDevicesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="GetAvailableDevicesResult" nillable="true" type="q10:GetAvailableDevicesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q11:PingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="PingResult" nillable="true" type="q12:PingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenPinpadConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q13:OpenPinpadConnectionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenPinpadConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="OpenPinpadConnectionResult" nillable="true" type="q14:OpenPinpadConnectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClosePinpadConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q15:ClosePinpadConnectionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClosePinpadConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="ClosePinpadConnectionResult" nillable="true" type="q16:ClosePinpadConnectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPinpadCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q17:CancelPinpadCommandRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPinpadCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="CancelPinpadCommandResult" nillable="true" type="q18:CancelPinpadCommandResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q19:ShowMessageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="ShowMessageResult" nillable="true" type="q20:ShowMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurePan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q21:GetSecurePanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurePanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="GetSecurePanResult" nillable="true" type="q22:GetSecurePanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q23:GetKeyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="GetKeyResult" nillable="true" type="q24:GetKeyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumericInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q25:GetNumericInputRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumericInputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="GetNumericInputResult" nillable="true" type="q26:GetNumericInputResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q27:GetAmountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="GetAmountResult" nillable="true" type="q28:GetAmountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authorize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q29:AuthorizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="AuthorizeResult" nillable="true" type="q30:AuthorizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelByAuthorizationReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q31:CancelByAuthorizationReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelByAuthorizationReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="CancelByAuthorizationReportResult" nillable="true" type="q32:CancelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q33:CancelRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="CancelResult" nillable="true" type="q34:CancelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q35:ReadCardRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="ReadCardResult" nillable="true" type="q36:ReadCardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q37:ReadPasswordRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="ReadPasswordResult" nillable="true" type="q38:ReadPasswordResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q39:SendAuthorizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="SendAuthorizationResult" nillable="true" type="q40:SendAuthorizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCompletion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q41:CompletionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCompletionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="SendCompletionResult" nillable="true" type="q42:CompletionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItkLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Request" minOccurs="0" name="request" nillable="true" type="q43:GetItkLengthRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItkLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MicroPos.DataContracts.Response" minOccurs="0" name="GetItkLengthResult" nillable="true" type="q44:GetItkLengthResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>